<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datastar SDK Demo</title>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>
</head>
<body>
    <div data-signals-delay="400" >
        <div>
            <h1>
                Datastar SDK Demo
            </h1>
        </div>
        <p>
            SSE events will be streamed from the backend to the frontend.
        </p>
        <p>
        Link to value calculator: <a href="/calculator">Calculator</a>
        </p>
        <div>
            <label for="delay">
                Delay in milliseconds
            </label>
            <input data-bind-delay id="delay" type="number" step="100" min="0"  />
        </div>
        <button data-on-click="@get('/hello-world')" >
            Start
        </button>
    </div>
    <div >
        <div id="message">Hello, world!</div>
    </div>
</body>
</html>